* {
    box-sizing: border-box;
}

body  {

}


h1 {
    font-family: "Big Shoulders Display", sans-serif;
    font-size: 96px;
    color: white;
    width: 514px;
    height: 176px;

}

h2 {
    font-family: "Big Shoulders Display", sans-serif;
    font-size: 60px;
}

p {
    font-family: "Outfit", sans-serif;
}

.texte-art-body {
    font-size: 22px;
}


.modern-art-top {
    width: 1275px;
    height: 800px;
    background: black;
    display: flex;
}

.modern-art-image {
    width: 540px;
    height: 800px;
}

.modern-art-top-div-box {
    display: flex;
    justify-content: center;
}

.modern-art-body {

}

.modern-art-body-top {
    display: flex;
}
.modern-art-body-top-text {
    width: 350px;
    height: 280px;
}

.modern-art-body-top-text-title {
    font-weight: bold;
    text-transform: uppercase;
}


.img-gallery-art-top {
    width: 60%;    
}




/* footer */

footer {
    background: #151515;
    width: 1440px;
    height: 244px;
}

